.uibox {
    background-color: rgba(0, 24, 54, 0.178);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px;
    border-radius: 10px;
}

.history {
    overflow-y: scroll;
    height: 700px;
    flex-wrap: wrap;
}

.maindiv {
    min-width: 780px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}



h1,p {
    color: white;
}

.pullImage {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pullImage:hover {
    transform: translateY(-50%) scale(1.1);
    transform-origin: center;
}

.resetbtn {
    position: fixed;
    bottom: 10px;
    width: 100px;
    right: 20px;
}

.resetbtn:hover {
    transform: scale(1.1);
    transform-origin: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}